@font-face {
  font-family: geometrialight;
  src: url("../fonts/GeometriaLight.otf") format("opentype"), url("../fonts/GeometriaLight.woff2") format("woff2"), url("../fonts/GeometriaLight.woff") format("woff"), url("../fonts/GeometriaLight.ttf") format("truetype"); }
@font-face {
  font-family: geometriabold;
  src: url("../fonts/GeometriaBold.otf") format("opentype"), url("../fonts/GeometriaBold.woff2") format("woff2"), url("../fonts/GeometriaBold.woff") format("woff"), url("../fonts/GeometriaLight.ttf") format("truetype"); }
@font-face {
  font-family: geometriamedium;
  src: url("../fonts/GeometriaMedium.otf") format("opentype"), url("../fonts/GeometriaMedium.woff2") format("woff2"), url("../fonts/GeometriaMedium.woff") format("woff"), url("../fonts/GeometriaMedium.ttf") format("truetype"); }
body {
  background: #fff;
  color: #222222;
  font-family: "geometrialight";
  font-size: 18px; }

h1 {
  font-size: 40px;
  font-weight: 700;
  padding: 0;
  margin: 0px 0px 40px 0px;
  font-family: "geometriabold"; }

h2 {
  font-size: 30px;
  margin: 0px 0px 25px 0px; }

p {
  margin: 0;
  padding: 0; }

b {
  font-family: "geometriamedium"; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important; }

ul {
  list-style: none;
  padding: 0; }

video {
  width: 100%; }

a.button {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: #94ca01;
  border: 2px solid #94ca01;
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px 8px 20px;
  box-shadow: 0 10px 20px rgba(153, 153, 153, 0.3);
  transition: background-color, border 0.2s; }
  a.button:hover {
    background-color: #a1d417;
    border: 2px solid #a1d417; }
  a.button_menu {
    font-size: 12px;
    box-shadow: none; }
  a.button_large {
    margin: 25px 0px;
    padding: 15px 62px;
    font-size: 20px;
    border-radius: 35px; }
  a.button_small {
    padding: 18px 33px;
    border-radius: 30px; }

.line {
  width: 430px;
  height: 1px;
  background: #e5e5e5; }
  .line_using {
    margin-top: 60px; }

.check-list {
  padding-left: 10px;
  margin-bottom: 67px; }
  .check-list li {
    background-repeat: no-repeat;
    background-position: left center;
    list-style: none;
    margin-bottom: 34px;
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    padding-left: 68px;
    min-height: 50px;
    display: flex;
    align-items: center;
    line-height: 28px; }
    @media (min-width: 992px) {
      .check-list li {
        white-space: nowrap; } }
  .check-list_cross li {
    background-image: url("../images/cross.png"); }
  .check-list_check li {
    background-image: url("../images/check.png");
    margin-bottom: 20px; }

.page {
  padding: 100px 0px; }
  .page__margin-b {
    margin-bottom: 120px; }
  .page__margin-b-small {
    margin-bottom: 50px; }
  .page_gray {
    background: #f7f7f7; }
  .page__p {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 27px; }

.quote {
  margin-top: 50px; }
  .quote__text {
    background-image: url("../images/quote-symbol.png");
    background-position: top left;
    background-repeat: no-repeat; }
  .quote__text-p {
    font-size: 22px;
    font-style: italic;
    color: #115893;
    padding: 45px 0px 0px 70px; }
    @media (max-width: 991px) {
      .quote__text-p {
        font-size: 17px; } }
  .quote__info {
    padding: 45px 0px 0px 70px; }
  .quote__info-img {
    display: inline-block;
    vertical-align: top; }
  .quote__info-author {
    line-height: 39px;
    display: inline-block;
    color: #555;
    font-family: "geometriamedium";
    border-left: 1px solid #e5e5e5;
    padding-left: 30px;
    margin-left: 5px; }
  .quote__indicators {
    z-index: 1; }
    .quote__indicators .active {
      background: #073c96; }
    .quote__indicators li {
      background: #e5e5e5;
      border: none; }
      .quote__indicators li:not(:last-child) {
        margin-right: 5px; }
    @media (min-width: 992px) {
      .quote__indicators {
        transform: translateY(-100%);
        top: 0;
        right: 0;
        left: initial;
        width: initial; } }
    @media (max-width: 991px) {
      .quote__indicators {
        top: 10px;
        bottom: initial; } }

.header {
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 25px 20px 0px 20px;
  background: #f7f7f7;
  z-index: 10; }
  .header__wraper {
    position: relative; }
  .header__logo {
    color: #777777;
    width: 169px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 0px; }
    @media (max-width: 991px) {
      .header__logo {
        left: 38px; } }
    .header__logo p {
      font-size: 14px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .header__logo p {
          display: inline-block; } }
  .header__menu-wraper {
    width: 100%;
    height: 100%;
    padding-left: 220px; }
  .header__menu {
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    text-align: right;
    float: right;
    max-width: 870px; }
    @media (min-width: 992px) {
      .header__menu {
        width: 100%; } }
  .header__menu-item {
    color: #115893;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900; }
    @media (max-width: 991px) {
      .header__menu-item {
        display: none; } }
  .header_scrolled {
    background: white;
    position: fixed;
    padding-top: 15px;
    border-bottom: 1px solid #f3f3f3; }
  .header .navbar-toggle {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 2px 25px 1px 0px;
    display: none; }
    @media (max-width: 991px) {
      .header .navbar-toggle {
        display: block; } }
    .header .navbar-toggle .icon-bar {
      background: #115893;
      height: 4px;
      margin-top: 3px; }
      .header .navbar-toggle .icon-bar:nth-child(2) {
        margin-top: 0px; }
  .header__mobile-menu {
    background-color: #125994;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    padding-top: 75px;
    z-index: 20; }
    .header__mobile-menu .button_menu {
      margin-top: 35px; }
  .header__mobile-menu-item {
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 25px; }
    .header__mobile-menu-item:hover, .header__mobile-menu-item:focus, .header__mobile-menu-item:active {
      color: white; }
  @media (max-width: 991px) {
    .header_mobile-menu-active .header__mobile-menu {
      display: flex; }
    .header_mobile-menu-active .navbar-toggle {
      z-index: 50; }
      .header_mobile-menu-active .navbar-toggle .icon-bar {
        background: white; } }

.main {
  background: #f7f7f7;
  overflow: hidden;
  text-align: center; }
  .main__h1 {
    padding-top: 80px;
    font-size: 46px; }
    .main__h1 h1 {
      margin: 0; }
  .main__p {
    margin-top: 34px;
    margin-bottom: 34px;
    font-size: 24px;
    font-weight: 300; }
  .main__video {
    overflow: hidden;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 10px 20px 2px rgba(153, 153, 153, 0.3); }
    .main__video iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: block; }
    @media (max-width: 991px) {
      .main__video {
        margin: 15px; } }
  .main .video-if {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 17px 0px;
    overflow: hidden;
    border-radius: 6px; }

.features {
  text-align: center; }
  .features__check-list h2 {
    font-family: "geometriamedium";
    margin: 0px 0px 40px 0px; }
  .features__title {
    text-align: center;
    margin-bottom: 75px; }
    .features__title p {
      font-size: 22px; }
  .features .button_large {
    margin: 0; }

.control video {
  box-shadow: 0 10px 20px 2px rgba(153, 153, 153, 0.3);
  border-radius: 6px;
  margin-bottom: 50px; }
.control__p {
  padding-left: 30px;
  padding-right: 30px; }

.answer h1 {
  text-align: center; }

.channels__video {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  display: inline-block;
  box-shadow: 0 10px 20px 2px rgba(153, 153, 153, 0.3); }
.channels iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block; }

.analytics__highlight-img {
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 10px 20px 2px rgba(153, 153, 153, 0.3); }

.using {
  background: #f7f7f7;
  text-align: center;
  padding: 100px 0px; }
  .using .button {
    margin-bottom: 0px; }
  .using__links {
    display: flex;
    justify-content: space-around; }
    @media (max-width: 767px) {
      .using__links {
        flex-wrap: wrap; } }
  .using__p {
    margin-top: 60px;
    margin-bottom: 15px; }
  @media (max-width: 991px) {
    .using__link-item {
      padding: 20px;
      padding-top: 0px; } }
  .using__link-item:last-child {
    margin-right: 0; }
  .using__link-item img {
    width: 75px;
    height: 75px; }
  .using .page__p {
    padding-top: 45px; }

.footer {
  background: #535c69;
  padding: 25px 0px; }
  .footer__menu-developers {
    color: #beced3;
    font-size: 13px; }
    .footer__menu-developers a {
      font-weight: bold;
      color: #beced3; }
  .footer__menu-item {
    color: #beced3;
    text-transform: uppercase;
    font-size: 13px; }
    @media (max-width: 991px) {
      .footer__menu-item {
        display: none; } }
    .footer__menu-item:hover {
      color: #beced3; }
  .footer__copyright {
    color: #8e9ba3;
    font-size: 12px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer__copyright {
        display: inline-block;
        padding-left: 20px; } }
  .footer__logo {
    float: left; }
  .footer__menu {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 991px) {
      .footer__menu {
        height: 28px; } }
    @media (max-width: 991px) {
      .footer__menu {
        justify-content: flex-end; } }
  .footer__devepolers-link {
    font-family: "geometriabold"; }

/*# sourceMappingURL=base.css.map */
