.main {
  background: $c-background-gray;
  overflow: hidden;
  text-align: center;

  &__h1 {
    padding-top: 80px;
    font-size: 46px;

    h1 {
      margin: 0;
    }
  }

  &__p {
      margin-top: 34px;
      margin-bottom: 34px;
      font-size: 24px;
      font-weight: 300;
  }

  &__video {
    overflow: hidden;
    border-radius: 6px;
    background: $b-white;
    box-shadow: 0 10px 20px 2px rgba(153, 153, 153, 0.3);

    iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;
    }

    @include mobile {
      margin: 15px;
    }
  }

  .video-if {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin: 17px 0px;
    overflow: hidden;
    border-radius: 6px;
  }
}