$c-button: #94ca01;
$c-button-hover: #a1d417;
$c-black: #222222;
$c-text-active: #115893;
$b-white: #fff;
$c-footer: #beced3;
$c-grey: #777777;
$c-background-gray: #f7f7f7;
$c-quote: #e7f6fd;
$b-footer: #535c69;
$c-copyright: #8e9ba3;
$f-main: 'geometrialight';
$f-bold: 'geometriabold';
$f-medium: 'geometriamedium';