@import url("https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans");
iframe {
  display: none; }

* {
  box-sizing: border-box; }

.default {
  overflow: hidden; }

.active {
  overflow: inherit; }

.page {
  padding: 50px 0px; }

.container {
  margin: auto; }
  @media (min-width: 768px) and (max-width: 1279px) {
    .container {
      width: 768px; } }
  @media (min-width: 1280px) {
    .container {
      width: 1140px; } }
  @media (min-width: 768px) and (max-width: 785px) {
    .container {
      width: 100%; } }
  @media (max-width: 767px) {
    .container {
      width: 100%;
      min-width: 320px; } }

.head {
  opacity: 1;
  text-align: center;
  position: absolute;
  font-family: 'Comfortaa', cursive;
  border: 3px solid #000;
  width: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .head h1 {
    margin-top: 20px; }
    @media (max-width: 767px) {
      .head h1 {
        font-size: 17px; } }
    @media (max-width: 767px) and (min-width: 575px) {
      .head h1 {
        font-size: 25px; } }
  .head img {
    margin: 50px 0px;
    height: 100%;
    width: 60%; }
  .head span {
    font-size: 60px;
    color: #fff;
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (min-width: 768px) and (max-width: 1279px) {
      .head span {
        font-size: 40px; } }
    @media (max-width: 767px) {
      .head span {
        top: 43%;
        font-size: 20px; } }
    @media (max-width: 767px) and (min-width: 575px) {
      .head span {
        font-size: 40px; } }
  .head a {
    margin: auto;
    display: block;
    outline: none;
    background: #000;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 10px 0px;
    width: 30%;
    text-transform: uppercase;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid #000;
    transition: all 0.2s ease;
    text-decoration: none; }
    .head a:hover {
      background: #fff;
      color: black; }
    @media (min-width: 768px) and (max-width: 1279px) {
      .head a {
        padding: 15px 0px;
        width: 50%; } }
    @media (max-width: 767px) and (min-width: 575px) {
      .head a {
        width: 50%; } }
    @media (max-width: 767px) {
      .head a {
        font-size: 10px;
        width: 50%; } }

.head-close {
  display: none; }

.main-block {
  display: none; }
  .main-block__header {
    font-family: 'Comfortaa', cursive;
    text-align: center;
    background: #222;
    color: #fff; }
    .main-block__header h2 {
      font-size: 24px; }
      @media (min-width: 768px) and (max-width: 1279px) {
        .main-block__header h2 {
          font-size: 17px; } }
      @media (max-width: 767px) {
        .main-block__header h2 {
          font-size: 15px;
          padding: 0px 10px;
          line-height: 30px; } }
  .main-block__congratulation-block {
    width: 60%;
    border: 2px solid #222;
    border-top: none;
    padding: 50px 30px;
    margin: auto; }
    @media (max-width: 767px) {
      .main-block__congratulation-block {
        width: 90%; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .main-block__congratulation-block {
        width: 90%; } }
    .main-block__congratulation-block .heart-block {
      display: flex;
      justify-content: space-around; }
    .main-block__congratulation-block .heart {
      width: 40px;
      height: 40px; }
    .main-block__congratulation-block p {
      font-family: 'Comfortaa', cursive;
      line-height: 30px; }
      @media (max-width: 767px) {
        .main-block__congratulation-block p {
          font-size: 10px;
          line-height: 15px; } }
      @media (max-width: 575px) and (min-width: 399px) {
        .main-block__congratulation-block p {
          font-size: 11px;
          line-height: 20px; } }
      @media (max-width: 767px) and (min-width: 575px) {
        .main-block__congratulation-block p {
          font-size: 14px;
          line-height: 20px; } }
      .main-block__congratulation-block p span {
        color: darkred;
        font-size: 25px;
        font-weight: bold; }

.memory-block {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .memory-block img {
    border: 5px solid #000;
    margin: 5px;
    width: 25%;
    height: 300px; }
    @media (max-width: 767px) {
      .memory-block img {
        width: 80%; } }
    @media (max-width: 575px) and (min-width: 399px) {
      .memory-block img {
        width: 55%; } }
    @media (max-width: 767px) and (min-width: 575px) {
      .memory-block img {
        width: 40%; } }
    @media (min-width: 768px) and (max-width: 1279px) {
      .memory-block img {
        width: 32%; } }

.main-block__family {
  text-align: center; }
  .main-block__family h3 {
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    margin: 0; }
    .main-block__family h3 span {
      color: darkred; }
  .main-block__family img {
    height: 400px;
    border-radius: 10%;
    margin: 20px 0px; }

.footer {
  background: #222;
  text-align: center;
  color: white;
  font-family: 'Comfortaa', cursive; }

/*# sourceMappingURL=style.css.map */
