* {
	box-sizing: border-box;	
}

html {
	height:100%;
	width:100%;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}

body {
	background-image: url(images/bg.png);
	margin: 0px;
	font-family: MinionProRegular;
	font-size: 16px;
	color: black;
}

h2 {
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding-top: 1px;
}

h3 {
    font-size: 25px;
    font-family: 'Myriad Pro';
    color: #fa6c20;
    padding: 30px 0px;
    margin: 0;
}

h4 {
    font-size: 24px;
}


h5 {
    margin: 0;
    font-size: 14px;
    color: #000;
    font-family: 'Myriad Pro';
}

a {
	text-decoration: none;
	color: black;
	transition: 0.3s;
}

a:hover {
	color: #f6a315;
}

.bg-cars {
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 0px;
}

.auctions {
	width: 100%;
	text-align: center;
	display: flex;
}

.auctions div {
	width: calc(100%/3);
	margin-top: 20px;
	float: left;
}


.comments, .cars {
	width: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.itemCom, .itemCar {
	width: calc(100%/3 - 20px);
	background-color: #ffffff;
	margin-top: 20px;
	position: relative;
	max-width: 400px;
	margin: 10px 10px;
}

.itemCar img {
	width: 100%;
}

.itemCom img {
	width: 100%;
}

.carImg {
	width: 100%;
    display:inline-block;   
    position: relative;
}

.up {
	text-transform: uppercase;
}

.text, .about {
	padding: 10px;
}

.info {
    position:relative;
    width:100%;    
    padding-bottom: 40px;
}

.meta {
    position:relative;
    left:0;
    bottom:52px;
    width:100%; 
}

.price {
	width: 100%;
	height: 65px;
	color:#fff;         
    background-color:rgba(0,0,0,.3);
    text-align: right;
    color: #f6a315;
    font-size: 43px;
    padding-right: 20px;
    padding-top: 8px;
    position:absolute;
    bottom: 10px;
    width:100%; 
}

.user {
	width: 100%;
	height: 45px;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
}

.nameUser {
	width: 30%;
	background-color:rgba(0,0,0,.3);
	padding: 16px;
}

.dateCom {
	width: 68%;
	background-color:rgba(0,0,0,.3);
	padding: 16px;
}

.price span {
	font-weight: bold;
}

.price span::before {
	content: "$";
}

.char {
	width: 100%;
	background-color: #c8c8c8;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
}

.char1, .char2, .char3 {
	height: 40px;
	background-position: left;
	background-repeat: no-repeat;
	text-align: right;
	padding-top: 10px;
	padding-right: 3px;
}

.overChar1, .overChar2, .overChar3 {
	height: 50px;
	border: 1px solid;
	border-color: #7f7f7f;
	padding: 5px 5px;
}

.overChar1 {
	width: 27%;	
}

.char1 {	
	background-image: url(images/icons/car-icon-1.png) ;	
}

.overChar2 {
	width: 42%;	
}

.char2 {	
	background-image: url(images/icons/car-icon-2.png) ;	
}

.char1, .char2, .char3 {
	text-align: center;
	padding-left: 17px;
}

.overChar3 {
	width: 31%;	
}

.char3 {	
	background-image: url(images/icons/car-icon-3.png) ;	
}

.bg-cop {
	width: 100%;
	background-image: url(images/car-1.png) ;
	background-size: cover;
	padding-bottom: 380px;
	padding-bottom: 50px;
}

.operate {
	margin: 0px auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
    flex-wrap: wrap;
}

.task {
	width: calc(100%/5 - 14px);
	padding: 15px;
	text-align: center;
	background-color: #ffffff;
	margin: 5px 7px;
}

.icon-task {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {
	text-transform: uppercase;
}

.operate p {
	color: black;
}

.com {
	width: 100%;
}

.com h2 + p {
	width: 100%;
	text-align: center;
	color: #ffffff;
}

.text p {
	color: black;
	text-align: left;
}

.comment {
	color: black;
	text-align: left;
	padding: 15px;
}

.cars {
	padding-bottom: 20px;
}

.comment div + p {
	margin-top: 20px;
}

.bg-foot {
	width: 100%;
	margin-top: 30px;
	height: 320px;
	background-color: #29303a;
	border-top: 4px solid #f6a315;
	overflow: hidden;
}

.footer {
	width: 100%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    margin-top: -10px;
}

.fotIcon, .footContact, .footForm {
	width: calc(100%/3);
}

.fotIcon {
	padding: 30px;
}

.fotIcon, .footForm {
	background-color:rgba(255,255,255,.1);
}

.footContact {
	padding: 15px;
}

.fotIcon img {
	width: 100%;
}

.address, .mail, .number {	
	background-position: center left;
	background-repeat: no-repeat;
	padding-left: 40px;
	margin-top: 15px;
}

.address {
	background-image: url(images/icons/icon-6.png);
}

.mail {
	background-image: url(images/icons/icon-7.png);
}

.number {
	background-image: url(images/icons/icon-8.png);
}

.footForm {
	padding-left: 30px;
}

.footForm input {
	display: block;
	padding: 10px;
	outline: none;
	color: #29303a;
	box-shadow: 0px 0px 1px 2px #29303a;
	border: 0;
}

.footForm .footer-send {
    border: 1px solid transparent;
}

#btn-name, #btn-mail {
	width: 90%;
}

#mess {
	height: 150px;
}


.text-center {
	text-align: center;
	color: #ffffff;
}

.footer-send {
	width: 50%;
	background-color: #f6a315;
	border: 1px solid #f6a315;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
    border: 1px solid transparent;
}

.footer-send:hover {
	background-color: #29303a;
	color: #f6a315;
	border: 1px solid #f6a315;
}

.footer-send:disabled {
	background-color: #c2c2c2;
	text-decoration: line-through;
}

input:disabled:hover {
	background-color: #c2c2c2;
}

textarea {
	width: 90%;
	padding: 10px;
	outline: none;
	resize: none;
	box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.75);
	border: 0;
}

#tabs .tab {
    display: inline-block;   
    padding: 15px;
    width: 20%;
    cursor: pointer;
    position: relative;
    z-index:5;
    background-image: linear-gradient(to bottom, rgba(250,108,32,1), rgba(240,104,31,1), rgba(189,82,24,1));
    color: #ffffff;
    transition: 0.3s;
}

#tabs .whiteborder {
   background-color: #ffffff;
   background-image: none;
   color: black;
}


#tabs .tabContent {
    width: 100%;
    position: relative;
    margin: 0 auto;
    z-index:1;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: #ffffff;
}

#tabs .hide {
    display: none;
}

#tabs .show {
    display: block;
}

.bg-delivery {
    background: #fff;
}

.bg-delivery__img img {
    width: 100%;
}

.bg-delivery__text {
    padding: 0px 33px 130px 33px;
}
.bg-delivery__text h3 {
    border-bottom: 1px solid #fa6c20;
}
.bg-delivery__text p {
    color: #111111;
    font-size: 18px;
    font-family: 'Myriad Pro';
    font-weight: 700;
    padding-bottom: 45px;
    margin: 0;
}

.bg-delivery__text-p {
    padding-top: 30px;
}

.delivery-ex {
    background: #3c3c3c;
    padding: 45px 0px;

}

.ex-block {
	display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.delivery-ex__block {
    padding: 0px 15px;
}

.delivery-ex__block:first-child {
    padding-left: 0px;
}

.delivery-ex__block:last-child {
    padding-right: 0px;
}

.delivery-ex__block img {
   width: 100%;
}

.bg-price {
    margin-top: -10px;
    background: #fff;
    color: #fa6c20;
    padding: 30px 40px;
    font-family: 'Myriad Pro';
}

.bg-price__text p {
    font-size: 18px;
    padding-bottom: 36px;
    margin: 0;
}
.bg-price__form {
    padding-bottom: 73px;
}

.bg-price__form form {
    width: 50%;
    margin: 0 auto;
}

.bg-price__form select {
    width: 100%;
    padding: 18px 18px 18px 18px;
    font-weight: 700;
    border: 1px solid #fa6c20;
    color: #fa6c20;
    outline: none;
    cursor: pointer;
    margin: 20px 0px;
}

.about-block {
    background: #fff;
    font-family: 'Myriad Pro';
}
.about-block__main-text {
    padding: 0px 33px;
}

.about-block__main-text p {
    font-size: 18px;
    color: #fa6c20;
    margin: 0;
}

.slider-block {
    text-align: center;
    padding: 0px 10px;
}

.slider-block__img {
    text-align: center;
}
.slider-block__img img {
    width: inherit;
    display: inline-block;
}
.owl-carousel {
    padding: 60px 0px;
}
.owl-dots {
    text-align: center;
    padding: 20px 0px;
}
.owl-prev {
    font-size: 0px;
}

.owl-next {
    font-size: 0px;
}

.owl-dot {
    width: 20px;
    height: 20px;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
    background: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;
}
.owl-dots .active {
    background: #000;
}

.slider-block__text {
    padding: 22px 10px 25px 10px;
    background: #e9e9e9;
}

.slider-block__text h6 {
    font-size: 14px;
    color: #838383;
    margin: 10px 0px;
}

.slider-block__text p {
    font-size: 12px;
    color: #a8a8a8;
}

.about-block__ex {
    display: flex;
}

.about-block__ex-img {
    margin-bottom: -4px;
    width: 50%;
}

.about-block__ex-img {
    margin-bottom: -4px;
    width: 50%;
}

.about-block__ex-img img {
    width: 100%;
}
.about-block__ex-text {
    padding: 0px 50px;
    width: 50%;
}

.about-block__ex-text h4 {
    margin: 0px;
    font-size: 18px;
}
.about-block__ex-text p {
    font-size: 12px;
    color: #252525;
    margin: 0;
    padding: 24px 0px 0px 0px;
}

.default-footer {
    margin-top: 0px;
}

@media (max-width: 1020px) {
	.itemCar {
		width: calc(100%/3 - 20px);
		margin: 10px 10px;
	}

	.cars {
		flex-direction: row;
   	    flex-wrap: wrap;
   		justify-content: center;
	}

	.char1, .char2, .char3 {
		padding-right: 0px;
		padding-left: 28px;
	}

	.auctions {
		display: flex;
		flex-direction: row;
   	    flex-wrap: wrap;
   		justify-content: center;
	}

	.bg-cop {
		height: auto;
	}

	.task {
		width: calc(100%/3 - 20px);
		margin-top: 10px;
	}

	#tabs .tab {
		width: 40%;
	}

	.itemCom {
		width: calc(100%/2 - 20px);
		margin: 10px;
	}

	.dateCom {
		padding: 10px;
	}

	.bg-foot {
		height: auto;
	}

	.fotIcon, .footContact, .footForm {
		width: calc(100%/3 - 20px);
		margin: 10px auto;
	}

	.nameUser {
		padding: 10px;
	}

    .ex-block {
        flex-wrap: wrap;
        padding: 0px;
        justify-content: center;
        width: 100%;
    }

    .delivery-ex__block {
        padding: 15px;
    }

    .delivery-ex__block:first-child {
        padding-left: 15px;
    }

    .delivery-ex__block:last-child {
        padding-right: 15px;
    }

    .about-block__ex-text {
        padding: 0px 15px;
    }



}
@media (max-width: 900px) {
	body {
		font-size: 15px;
	}

	.itemCar {
		width: calc(100%/2 - 20px);
	}

	.char1, .char2, .char3 {
		padding-left: 25px;
	}

	.bg-cop {
		height: auto;
	}

	.task {
		margin: 10px;
	}
	
	.fotIcon, .footContact, .footForm {
		width: 80%;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.footContact {
		background-color:rgba(255,255,255,.1);
	}
	
	.auctions div {
		margin-right: 10px;
		width: 100%;
		margin-top: 20px;
		float: none;
	}
    .about-block__ex {
        flex-direction: column;
    }
    .about-block__ex-img {
        padding: 0px 10px;
        width: 100%;
    }
    .about-block__ex-img img {
        width: 100%;
    }

    .about-block__ex-text {
        padding: 20px 10px 30px 10px;
        width: 100%;
    }

}


@media (max-width: 600px) {
	body {
		font-size: 15px;
	}

	.itemCar {
		width: 100%;
	}

	.task {
		width: calc(100%/2 - 20px);
	}

	.itemCom {
		width: 100%;
		margin: 10px;
	}

    .bg-price__form form {
        width: 100%;
    }

    .bg-price {
        padding: 30px 10px;
    }

}

@media (max-width: 480px) {

	body {
		font-size: 14px;
	}

	.task {
		width: 80%;
	}

	#tabs .tab {
		width: 100%;
		display: block;
	}

	#tabs .whiteborder {
		border-bottom: 3px solid #f0681f;
	}

	.fotIcon, .footContact, .footForm {
		width: 90%;
	}

	

}

@media (max-width: 350px) {
	.action-img img {
		width: 100%;
	}
}


@font-face {
	font-family: "MinionProRegular";
	src: url('fonts/MinionPro-Regular.ttf') format("truetype");
	src: url('fonts/MinionPro-Regular.eot') format('eot'),
	url('fonts/MinionPro-Regular.woff') format('woff'),
	url('fonts/MinionPro-Regular.woff') format('woff2'),
	url('fonts/MinionPro-Regular.otf') format('otf'),
	url('fonts/MinionPro-Regular.svg') format('svg');
}
