.fact-item {
  padding-top: 50px;
  padding-left: 50px;
  width: 45%;
  background: url(../img/checked.png) 14px 30px no-repeat;

  @include tablet {
    width: 43%;
  }



  &__desc {
    margin-top: 15px;
    p {
      font-family: $mont;
      color:  #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;

      @include tablet {
        font-size: 11px;
      }
    }
  }
}