@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
$play-fair: 'Playfair Display', serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat');
$mont: 'Montserrat', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
$yeseva-font: 'Yeseva One', cursive;