.main-page__list {
  li {
    display: flex;
    align-items: baseline;
    font-family: "Montserrat", sans-serif;
    color: #333333;
    font-size: 14px;
    font-weight: 400;

    @include tablet {
      font-size: 13px;
    }
  }
}

.main-page__list-circle {
  border-radius: 50%;
  border-width: 2px;
  border-color: #b59f74;
  border-style: solid;
  width: 4px;
  height: 4px;
  margin-right: 10px;
}