.slick-prev {
  background: url("../img/slider/slider-left.png") center center no-repeat transparent;
}
.slick-next {
  background: url("../img/slider/slider-right.png") center center no-repeat transparent;
}
.slick-arrow {
  width: 38px;
  height: 11px;
  position: absolute;
}